body {
    font-family: 'Helvetica', 'Segoe UI'; 
}

.postCard {
    display: flex;
    flex-direction: row;
    border-radius: .5rem;
    box-shadow: 10px 10px 30px -12px rgba(125,112,125,1);
    margin-left: 5rem;
    margin-right: 5rem;
}

.msg {
    font-size: 3rem;
}

.cursive {
    font-family: 'Parisienne', cursive;;
}

.simple {
    font-family: 'Pangolin', cursive;
}

.destiny {
    margin-top: 3rem;
    align-self: flex-end;
}

.destiny h5 {
    margin: 0;
}

.signature {
    font-size: 2rem;
    align-self: flex-end;
}

.content {
    padding-right: 6rem;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
}

.postImage {
    width: 40%;
    background-origin: border-box;
    background-image: url(/dog.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}


#editable {
    display: none;
}

.App {
   
}

.button.is-dark {
    background-color: #363636;
    border-color: transparent;
    color: #f5f5f5;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: .75em;
    padding-right: .75em;
    text-align: center;
    white-space: nowrap;
}

button, textarea {
    margin: 0;
}

button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    width: 20%;
}

textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    padding: 2px 0px 0px 2px;
    width: 90%;
    margin-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}