.postCard {
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    -webkit-box-shadow: 10px 10px 30px -12px rgba(125,112,125,1);
    -moz-box-shadow: 10px 10px 30px -12px rgba(125,112,125,1);
    box-shadow: 10px 10px 30px -12px rgba(125,112,125,1);

    margin: 5rem;
}

.postImage {
    width: 40%;
    background-image: url(/dog.jpg);
    background-size: cover;
}